* {
  box-sizing: border-box;
}

body, h1, h2, p {
 margin: 0;
 padding: 0;
}

.app {
  background-color: #E5E5E5;
  min-height: 1000px;
}

.app__wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #FFFFFF;
  width: 960px;
  margin: 0 auto;
}



@media (max-width: 768px) {
  .app__wrapper {
    width: 420px;
  }
}